{% extends "base.html" %}
{% load staticfiles %}

{% block jquery %}
    //alert("Welcome!");
{% endblock %}



{% block content %}
    

<div class="row">
	
	{% for product in products %}
	<div class="col-sm-4">

		<div class="thumbnail">
			{% if product.productimage_set.all %}

					{% for item in product.productimage_set.all %}

						{% if item.featured %}
						<div style="width:300px;
						height:200px;
						margin:0 auto;
						background-image: url('media/{{ MEDIA_URL }}{{item.image}}');
						background-repeat: no-repeat;
						background-position: center;
						background=size:cover;">

						</div>
						<!--<img class='img-responsive' src="media/{{ MEDIA_URL }}{{item.image}}"/>-->
						{% endif %}

						{% endfor %}
						{% else %}
						<img class='img-responsive' src='{% static "img/placeholder.svg" %}'/>
						{% endif%}
					 <div class="caption">
						        <a href = '{{ product.get_absolute_url }}'>{{product.title}}</a>
						        <p>...</p>
						        <p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
						      </div>
				    	</div>
					<!-- <a href = '/products/{{product.slug}}'>{{product.title}}</a> -->
					<!-- <a href = '{% url "single_product" product.slug %}'>{{product.title}}</a> -->
				<!-- 	<a href = '{{ product.get_absolute_url }}'>{{product.title}}</a>
					{{product.price}}
				 -->

					</div>
		{% cycle "" "" "</div><div class='row'><div class='col-sm-4'>" %}

			{% endfor %}



		</div>

{% endblock %}
